<div class="row row--lg-6-6 row--xxxl-4-4-4">
  {% assign content-pages = site.html_pages | where: 'content-pages', 'true' | sort: 'group-order' %}
  {% for page in content-pages %}
    <div class="col">
      <div class="bg-img bg-img--4-3 bg-img--lg-1-1 bg-img--xxxl-2-3" style="background-image: url('{{site.img}}/banner/{{page.id}}.jpg');">
        <a href="{{site.baseurl}}{{page.url}}" class="bg-img__link"></a>
        <div class="bg-img__content">
          <div class="boxpad--lg">
            <h4 class="title title--md text--bold">{{page.title}}</h4>
            <div class="space--sm"></div>
            <div class="title title--xxxs text--italic">By <span class="text--bold">{{page.reviewer}}</span></div>
            <div class="space--lg"></div>
            <a href="{{page.link}}" class="btn btn--round btn--arrow btn--arrow-right"></a>
          </div>
        </div>
        <div class="bg-img__bg-overlay"></div>
      </div>
    </div>
  {% endfor %}
</div>