<div class="promo vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/banner/competition.jpg');">
  <div class="promo__content container container--xxl">
    <div class="text--center">
      <h3 class="title title--xxl text--bold">Win a chic city break in Manchester and a year’s supply of shoes!</h3>
      <div class="space--sm"></div>
      <p class="title title--xs">Enter our competition for a seriously fashionable prize…</p>
      <div class="space--lg"></div>
      <a id="track-btn-footer-competition" href="{{site.baseurl}}/competition" class="btn btn--lg btn--solid">Enter Now</a>
    </div>
  </div>
  <div class="promo__overlay"></div>
</div>