---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  title: UK Getaways
  title-sub: with Shoeaholics & Secret Escapes
  intro: >
    <p class="text--xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque illum possimus doloremque, voluptates tempore accusamus alias nihil sunt nesciunt placeat perspiciatis adipisci est maiores dolorem quos aperiam! </p>


---


<div class="vpad--xxxxl banner banner--overview" style="background-image: url({{site.img}}/banner/overview.jpg);">
  <div class="site-header__offset"></div>
  <div class="site-nav__offset"></div>

  <div class="banner__wrap">
    <div class="container text--center">
      <h1 class="title banner-title banner-title--xl text--bolder">{{page.banner.title}}</h1>
      <div class="space--xxs"></div>
      <span class="title title--xs title--mono text--normal">{{page.banner.title-sub}}</span>
      <div class="space--xs"></div>
      <hr class="hr--center">
      <div class="width width--xl">
        {{page.banner.intro}}
        <div class="space--md"></div>
        <a href="{{site.baseurl}}/competition" class="btn btn--lg btn--solid">Enter competition</a>
      </div>
    </div>
  </div>

  <div class="site-nav__offset"></div>
  <div class="banner__overlay"></div>
</div>



<div class="container container--100 bg--white">

  <div class="row">
    <div class="container container--xxl vpad--xl text--center intro intro--extrude">
      <h2 class="title title--md text--bold">Read about our favourite UK getaways</h2>
      <p class="text--xl">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor.</p>
    </div>
  </div>

  {% include page/all-reviews.html %}
</div>

<div class="vpad--xxl">
  <div class="container text--center">
    <a href="{{site.baseurl}}/offers" class="btn btn--lg btn--orange">View all UK Getaways</a>
  </div>
</div>

{% include page/promo-comp.html %}

