// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 450px;
  max-height: 700px;
  color: $white;
  background-color: $white;
  @include background-attributes;
  @include bp($lg){
    height: 75%;
    min-height: 650px;
    max-height: none;
  }
  &__wrap {
    position: relative;
    z-index: $z-content-upper;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @include page-padding;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    @include background-attributes;
    &-fade {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 33.3%;
      width: 100%;
      background: -moz-linear-gradient(top, rgba($white,0) 0%, rgba($white,1) 100%);
      background: -webkit-linear-gradient(top, rgba($white,0) 0%,rgba($white,1) 100%);
      background: linear-gradient(to bottom, rgba($white,0) 0%,rgba($white,1) 100%);
    }
  }
  &__overlay {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: $z-content;
    background-color: rgba($grey-darkest,0.8);
    opacity: 0;
  }
  &__nav {
    // optional container for navigation include
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-nav;
    &--top {
      top: 0;
      bottom: auto;
    }
  }

  &__breadcrumbs {
    display: inline-block;
    margin-bottom: 2rem;
    font-family: $font-title-02;
    font-size: 1.1rem;
    font-weight: 400;
    & a { font-weight: 700; }
    &-arrow {
      display: inline-block;
      margin-right: 0.5rem;
      margin-bottom: -12px;
    }
    &-item {
      display: inline-block;
      margin-right: 1.1rem;
      padding-right: 1.1rem;
      border-right: 1px solid rgba($white,0.4);
      &:last-child { padding-right: 0; border: 0; }
    }
  }

  // Review banner
  &--review {
    height: 100%;
    max-height: 100%;
    min-height: 800px;
  }

  // Overview banner
  &--overview {
    color: $grey-dark;
    padding: 8em 0 12em;
    .banner__overlay { background-color: $white; }
  }
}