.btn {
  position: relative;
  display: inline-block;
  padding: $s2 $s5;
  color: $white;
  font-weight: 700;
  font-size: $s-1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.33;
  border-radius: 3px;
  cursor: pointer;
  @include transition;
  &--sm { padding: $s1 $s4; font-size: $s-2; }
  &--lg { padding: $s3 $s8; font-size: $s-1; }
  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; }
  }
  &--outline {
    color: inherit;
    &:before {
      // button border within original padding
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 1px;
      border-style: solid;
      border-radius: inherit;
      @include transition;
    }
  }
  &--outline-orange {
    &:before { border-color: $orange; }
    &:hover {
      background-color: $orange;
      &:before { border-color: $orange; }
    }
  }
  &--round {
    @include transition();
    $size: 60px;
    border-radius: 50%;
    width: $size; height: $size;
    padding: 0;
    &-sm {
      $size: 40px;
      width: $size; height: $size;
    }
    &-lg {
      $size: 80px;
      width: $size; height: $size;
    }
  }
  &--arrow {
    position: relative;
    border: 3px solid $white;
    &:hover { border: 5px solid $white; }
    &.btn--round-sm { border: 2px solid $white; }
    &.btn--round-sm:hover { border: 4px solid $white; }
    &:before {
      content: "";
      background-image: url('../img/icons/arrow-right.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      position: absolute;
      top: 25%; bottom: 25%;
      left: 25%; right: 25%;
    }
    &-right:before { background-image: url('../img/icons/arrow-right.svg'); }
    &-left:before  { background-image: url('../img/icons/arrow-left.svg'); }
    &-down:before  { background-image: url('../img/icons/arrow-down.svg'); }
    &-up:before    { background-image: url('../img/icons/arrow-up.svg'); }

    // alternative image for small buttons
    &.btn--round-sm:before { background-image: url('../img/icons/arrow-right-sm.svg'); }
    &.btn--round-sm.btn--arrow-down:before  { background-image: url('../img/icons/arrow-down-sm.svg'); }
    &.btn--round-sm.btn--arrow-up:before    { background-image: url('../img/icons/arrow-up-sm.svg'); }
    &.btn--round-sm.btn--arrow-left:before  { background-image: url('../img/icons/arrow-left-sm.svg'); }
    &.btn--round-sm.btn--arrow-right:before { background-image: url('../img/icons/arrow-right-sm.svg'); }
  }

}