// general styles for the project that wouldn't be a reuseable component


.review {
  &__image {
    border: 2px solid $white;
  }
  &__intro {
    position: relative;
    margin-top: -60px;
    padding: $s4 $s4;
    background-color: $white;
    box-shadow: 0 20px 60px 0 rgba($grey-darkest,0.05);
    &-image {
      max-width: 200px;
    }
  }
}



.review-tile {
  &__alt-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    @include background-attributes;
    @include transition;
  }
  &:hover &__alt-bg {
    opacity: 1;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $white;
    text-align: center;
    transform: scale(1);
    @include transition;
    @include page-padding;
  }
  &:hover &__content { transform: scale(1.05); }
  &__overlay {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    z-index: 1;
    background-color: rgba($black,.2);
    @include transition;
  }
}



.products {
  &__item {
    @include transition;
    display: block;
    background-color: $white;
    padding: $s-4;
    box-shadow: 0 2px 10px 0 rgba($grey-darkest,0.06);
    transform: rotate(0deg) scale(1);
    &:hover {
      transform: rotate(-1deg) scale(1.05);
      box-shadow: 0 5px 20px 0 rgba($grey-darkest,0.1);
    }
    &-img {
      background-color: $white;
      border: 2px solid $grey-lightest;
    }
    &-title {
      padding: $s0 $s0;
    }
  }
}



.promo {
  position: relative;
  &__content {
    position: relative;
    z-index: 1;
  }
  &__overlay {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: $z-content;
    background-color: rgba($grey-darkest,0.3);
  }
}


