<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% unless page.id == 'overview' %}
      {% if page.layout == 'review' %}
        {% include page/review-banner.html %}
      {% else %}
        {% include page/banner.html %}
      {% endif %}
    {% endunless %}

    <div class="main-content content-spacing section-spacing">
      {{ content }}
    </div>

    {% include page/footer.html %}

    {% include modal/modal.html %}

  </body>

</html>