---
layout: default
---

<div class="container">
  <div class="width width--xxl space--xxxl text--center">
    {{page.intro}}
  </div>
</div>

<div class="vpad--xxl">
  <div class="container">
    <div class="row row--xl-6-6 row--gutters-lg">
      {% assign offers = site.data.offers | sort: 'saved' | reverse %}
      {% for offer in offers %}
        <div class="col">
          {% include offer/offer.html %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include page/promo-comp.html %}

{% include page/promo-offers.html %}