---
layout: default
---



<div class="wp" id="content-start"></div>
<div class="intro--extrude container container--xxl">
  <div class="row row--valign-center row--no-gutters">
    <div class="col col--4">
      <div class="boxpad--lg">
        <div class="bg-img bg-img--1-1 bg-img--circle" style="background-image: url({{site.img}}/content/{{page.id}}/author.jpg);"></div>
      </div>
    </div>
    <div class="col col--8">
      <div class="boxpad--xl">
        <h3 class="title title--sm">Meet <span class="text--bolder">{{page.by.name}}</span></h3>
        <div class="space--xxs"></div>
        <a href="https://www.instagram.com/{{page.by.instagram}}" target="_blank" class="title title--xxxs text--normal title--mono">@{{page.by.instagram}}</a>
        <div class="space--xxs"></div>
        <hr class="hr--left">
        {{page.by.intro}}
      </div>
    </div>
  </div>
</div>


<div class="review vpad--xxl">
  <div class="space--xl"></div>
  {% for section in page.page-sections %}
    <div class="review__section container vpad--md">


      <div class="row row--valign-top row--6-6 row--no-gutters {% cycle '', 'row--col-reverse' %}">

        <div class="col">
          <div class="container">
            <div class="row row--valign-top">
              <div class="review__section-image col col--11 bg-img bg-img--16-9" style="background-image: url({{site.img}}/content/{{page.id}}/{{section.id}}-1.jpg);"></div>
              <div class="review__section-image col col--6 bg-img bg-img--3-4" style="background-image: url({{site.img}}/content/{{page.id}}/{{section.id}}-2.jpg);"></div>
              <div class="review__section-image col col--6 bg-img bg-img--2-3" style="background-image: url({{site.img}}/content/{{page.id}}/{{section.id}}-3.jpg);"></div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="boxpad--xxl">
            <span class="title title--xxxs text--upper text--bolder text--wide-kern">{{section.section-title}}</span>
            <div class="space--xxs"></div>
            <h4 class="title title--md text--bolder">{{section.title}}</h4>
            {% if section.subtitle %}
            <div class="vpad--xxs">
              <span class="title title--xxxs title--mono text--normal">{{section.subtitle}}</span>
            </div>
            {% endif %}
            <hr class="hr--left">
            {{section.content}}
            {% if section.cta %}
            <div class="space--md"></div>
            <a href="{{section.cta.link}}" class="btn btn--solid">{{section.cta.label}}</a>
            {% endif %}
          </div>
        </div>

      </div>

    </div>
  {% endfor %}

</div>


<div class="bg--grey-lightest vpad--xxl products">
  <div class="container" id="the-look">

    <div class="width width--xl text--center">
      <span class="title title--xxxs text--upper text--bolder text--wide-kern">{{page.the-look.section-title}}</span>
      <div class="space--xxs"></div>
      <h4 class="title title--xxl text--bolder">{{page.the-look.title}}</h4>
      <hr class="hr--center">
      {{page.the-look.content}}
    </div>

    <div class="width width--xxl vpad--xl">
      <div class="row row--4-4-4">
        {% for product in page.the-look.products %}
        <div class="col">
          <a href="{{product.link}}" target="_blank" class="products__item">
            <div class="products__item-img bg-img bg-img--1-1" style="background-image: url({{site.img}}/content/{{page.id}}/the-look/{{product.id}}.jpg);"></div>
            <div class="products__item-title text--center">
              <h5 class="title text--upper text--bolder">{{product.title}}</h5>
              <span class="title title--mono text--normal">{{product.brand}} | £{{product.price}}</span>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="text--center">
      <a href="page.the-look.link" class="btn btn--lg btn--solid">Shop the look</a>
    </div>
  </div>
</div>



{% include page/promo-comp.html %}



<div class="vpad--xxxl bg--grey-dark text--white">
  <div class="container">

    <div class="row text--center">
      <h2 class="title title--md text--bold">Continue reading...</h2>
      <div class="space--xxxl"></div>
    </div>

    <div class="row row--6-6">
      {% assign reviewpages = site.html_pages | where: 'content-pages', 'true' | sort: 'nav-order' %}
      {% for reviewpage in reviewpages %}
        {% unless reviewpage.id == page.id %}
        <div class="col">
          <div class="bg-img bg-img--1-1" style="background-image: url('{{site.img}}/banner/{{reviewpage.id}}.jpg');">
            <a href="{{site.baseurl}}{{reviewpage.url}}" class="bg-img__link"></a>
            <div class="bg-img__content">
              <div class="boxpad--lg">
                <h4 class="title title--md text--bold">{{reviewpage.title}}</h4>
                <div class="space--sm"></div>
                <div class="title title--xxxs text--italic">By <span class="text--bold">{{reviewpage.reviewer}}</span></div>
                <div class="space--lg"></div>
                <a href="{{reviewpage.link}}" class="btn btn--round btn--arrow btn--arrow-right"></a>
              </div>
            </div>
            <div class="bg-img__bg-overlay"></div>
          </div>
        </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>

